body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background: linear-gradient(to right,rgb(196, 196, 196), rgb(255, 255, 255));
}
#app{
    display: flex;
    width: 450px;
    height: 330px;
    justify-content: center;
}
button{
    margin: 3px;
}
input{
    margin: 3px;
}
table,
td {
    border: 1px solid black;
}

thead,
tfoot {
    background-color: rgb(112, 112, 112);
    color: rgb(240, 240, 240);
}